<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Personas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Personas Registradas</h1>
<a th:href="@{/personas/nueva}">Agregar Nueva Persona</a>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="persona : ${personas}">
        <td th:text="${persona.nombre}"></td>
        <td th:text="${persona.edad}"></td>
    </tr>
    </tbody>
</table>

<h2>Buscar Persona</h2>
<form action="/personas/buscar" method="get">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <button type="submit">Buscar</button>
</form>
</body>
</html>
